$body-background-color: #f5f8fa;
$default-font-color: #66757f;
$basic-border: 1px solid rgba(0, 0, 0, 0.15);
$navbar-background-color: #fff;

/* a 标签相关颜色 */
$a-color-hover: #aaa;
$a-background-color-hover: #f9f9f9;

/* 颜色 */
$light-cyan: #E0FFFF;
$dark-cyan: #008B8B;
$light-steel-blue: #B0C4DE;
/* material design color */
$blue-green: #607D8B;
$brown: #795548;
$teal: #009688;
$orange: #FF9800;
$pink: #E91E63;
$grey: #9E9E9E;
$mid-grey: #BDBDBD;
$light-grey: #E0E0E0;
$light-grey-background: #F5F5F5;