@import "-colors";
@import "-theme";
@import "-mixin";

body {
    background-color: $body-background-color;
}

#footer {
    background-color: transparent;
    text-align: center;
    margin-top: 3rem;

    p {
        @extend .no-padding-margin;
    }
}

/* common */
.no-padding-margin {
    padding: 0;
    margin: 0;
}

/* 导航栏 */
#navbar {
    background-color: $navbar-background-color;
    a {
        color: $default-font-color;
    }

    #navbarContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #brand {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 2.5rem;
        }
    }

    #linkList {
        display: flex;
        align-items: center;
    }

    .my-nav-link {
        font-size: 0.9rem;
        margin-left: 0.9rem;

        &:hover {
            color: $a-color-hover;
        }
    }
}

.nav-shadow {
    border-top: $default-border;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* a 标签 */
a {
    color: $blue-green;
    text-decoration: none;
    &:hover {text-decoration: none;}
    &:visited {text-decoration: none;}
    &:link {text-decoration: none;}
}

.my-link-tag {
    color: $default-font-color;
    padding: .1rem .2rem;
    font-size: .8rem;
    border-radius: .2rem;
    &:hover {
        background-color: $light-grey;
    }

    &-selected {
        color: $teal;
        background-color: $light-grey;
    }
}

.a-tag-light {
    color: $grey;
    font-size: 0.5rem;
    padding: 0.1rem 0.2rem;
    border-radius: 0.2rem;
    background-color: $light-grey-background;
    &:hover {
        background-color: $light-grey;
    }
}

/* container box */
.container-box {
    border: $default-border;
    border-radius: 0.15rem;
    background-color: white;

    &-item {
        padding: .3rem .8rem;

        &-bk-color {
            background-color: $a-background-color-hover;
        }

        &-bottom {
            border-bottom: $default-border;
        }

        &-top {
            border-top: $default-border;
        }

        &-padding {
            padding: .6rem .8rem;
        }

        &-input {
            padding-right: 0;
            input, textarea {
                width: 100%;
                color: $blue-green;
                font-size: $mid-font-size;
                border: none;
                box-shadow: none;
                outline: none;

                &:focus {
                    border: none;
                    box-shadow: none;
                    outline: none;
                }
            }
            textarea {
                padding-top: 0.3rem;
                margin: -0.3rem -1.5rem -0.7rem 0;
            }
        }
    }
}

/* body container */
#bodyContainer {
    margin-top: 1.5rem;
}

/* 字体样式 */
.one-line-tip-base {
    font-size: $mid-font-size;
    color: black;
}
.one-line-tip {
    @extend .one-line-tip-base;
    &-p {
        @extend .one-line-tip-base;
        display: inline-block;
        margin: 0;
    }
}

.error-tip {
    color: $pink;
    font-size: .4rem;
}

.my-title {
    font-size: 1.2rem;
    line-height: 1.2rem;
    font-weight: 500;
    color: $default-font-color;
    display: inline-block;
    padding-left: .05rem;
    margin-bottom: .25rem;

    &-a {
        &:hover {
            color: $teal;
        }
    }
}

/* button */
.my-button {
    color: $teal;
    font-size: $mid-font-size;
    padding: .2rem .3rem;

    &-confirm {
        &:hover {
            background-color: $a-background-color-hover;
        }
    }

    &-cancel {
        &:hover {
            background-color: $a-background-color-hover;
        }
    }

    &:visited {
        color: $teal;
    }
}

/* 文件选择器 */
$my-file-text: (
  placeholder: (
    en: "选择文件...",
  ),
  button-label: (
    en: "浏览",
  )
);

/* 布局 */
.info-panel {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 0.5rem;
    color: $mid-grey;
    line-height: .7rem;

    &-item {
        display: inline-block;
        margin-right: .3rem;
    }
}

.my-img {
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}

/* color */
.color-mid-grey {
    color: $mid-grey;
}