@import "-colors";
@import "-theme";
@import "-mixin";

#category {
    padding: .2rem .8rem;
}

#sortBy {
    padding: .2rem .8rem;
    background-color: $a-background-color-hover;
    border-bottom: $default-border-light;
}
