/* .register-btn: 注册按钮样式 */
.register-btn a {
    border: 1px solid #339dc3;
    border-radius: 3px;
    color: #339dc3;
    text-decoration: none;
}

.register-btn a:hover {
    background-color: #f5f8fa;
    text-decoration: none;
}

.tip-a a {
    color: #339dc3;
    font-size: 0.8rem;
    text-decoration: none;
}

.tip-a a:hover {
    background-color: #f5f8fa;
    text-decoration: none;
}

.tip-a a:visited {
    text-decoration: none;
}