{% extends "mindmap/includes/base.html" %}
{% load staticfiles %}

{# 设置标题 #}
{% block title %}{{ title }}{% endblock %}

{# 自定义css #}
{% block css %}
    <link rel="stylesheet" href="{% static 'mindmap/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'mindmap/css/pagination.css' %}">
{% endblock %}

{# 设置body #}
{% block body %}
    <div id="bodyContainer" class="container">
        <div id="midContainer" class="col-lg-8 offset-lg-2">
            <div class="container-box">
                {# 分类 #}
                <div id="category">
                    {% if not category_first %}
                        <a class="my-link-tag my-link-tag-selected">全部</a>
                    {% else %}
                        <a class="my-link-tag" href="{% url 'mindmap:index-without-category' 1 %}">全部</a>
                    {% endif %}
                    {% for category in category_first_items %}
                        {% if category_first == category %}
                            <a class="my-link-tag my-link-tag-selected">{{ category.title }}</a>
                        {% else %}
                            <a class="my-link-tag" href="{% url 'mindmap:index-with-category' category.id 1 %}">{{ category.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
                {# 子分类及排序 #}
                <div id="sortBy">
                    {% if not category_second %}
                        <a class="my-link-tag my-link-tag-selected">全部</a>
                    {% else %}
                        <a class="my-link-tag" href="{% url 'mindmap:index-with-category' category_first.id 1 %}">全部</a>
                    {% endif %}

                    {% for category in category_second_items %}
                        {% if category_second == category %}
                            <a class="my-link-tag my-link-tag-selected">{{ category.title }}</a>
                        {% else %}
                            <a class="my-link-tag" href="{% url 'mindmap:index-with-category' category.id 1 %}">{{ category.title }}</a>
                        {% endif %}
                    {% endfor %}
                </div>

                {# 子分类及排序 #}
                <div id="sortBy" style="background-color: white;">
                    {% if category %}
{#                        <a class="my-link-tag" href="{% url 'mindmap:index-with-category' category 1 %}">全部</a>#}
                        <a class="my-link-tag {% if order == 'hot' %}my-link-tag-selected{% endif %}" href="{% url 'mindmap:index-with-category' category 1 %}?ord=hot">最热</a>
                        <a class="my-link-tag {% if order == 'new' %}my-link-tag-selected{% endif %}" href="{% url 'mindmap:index-with-category' category 1 %}?ord=new">最新</a>
                    {% else %}
{#                        <a class="my-link-tag" href="{% url 'mindmap:index' %}">全部</a>#}
                        <a class="my-link-tag {% if order == 'hot' %}my-link-tag-selected{% endif %}" href="{% url 'mindmap:index' %}?ord=hot">最热</a>
                        <a class="my-link-tag {% if order == 'new' %}my-link-tag-selected{% endif %}" href="{% url 'mindmap:index' %}?ord=new">最新</a>
                    {% endif %}
                </div>


                {# 主题列表 #}
                {% for mindmap in pages.cur_page_items %}
                    {% include 'mindmap/includes/_index_list_item.html' %}
                {% endfor %}

                <div class="container-box-item container-box-item-padding">
                    {% include 'mindmap/includes/_pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{#{% block footer %}#}
{#    {% include 'mindmap/includes/_footer.html' %}#}
{#{% endblock %}#}

