{% extends "mindmap/includes/base.html" %}
{% load staticfiles %}

{# 设置标题 #}
{% block title %}{{ title }}{% endblock %}

{# 自定义css #}
{% block css %}
    <link rel="stylesheet" href="{% static 'mindmap/css/index.css' %}">
    <link rel="stylesheet" href="{% static 'mindmap/css/pagination.css' %}">
{% endblock %}

{# 设置body #}
{% block body %}
    <div id="bodyContainer" class="container">
        <div id="midContainer" class="col-lg-8 offset-lg-2">
            <div class="container-box">
                {# 分类 #}
                <div id="category">
                    <a class="my-link-tag" href="#">全部</a>
                    {% for category in categoryFirst %}
                        <a class="my-link-tag" href="#">{{ category.title }}</a>
                    {% endfor %}
                </div>
                {# 子分类及排序 #}
                <div id="sortBy">
                    <a class="my-link-tag" href="#">综合</a>
                    <a class="my-link-tag" href="#">最新</a>
                    <a class="my-link-tag" href="#">最热</a>
                </div>

                {# 主题列表 #}
                {% for mindmap in items %}
                    {% include 'mindmap/includes/_index_list_item.html' %}
                {% endfor %}

                <div class="container-box-item container-box-item-padding">
                    {% include 'mindmap/includes/_pagination.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

