{% extends "mindmap/includes/base.html" %}
{% load staticfiles %}

{# 设置标题 #}
{% block title %}{{ title }}{% endblock %}

{# 自定义css #}
{% block css %}
    <link rel="stylesheet" href="{% static 'mindmap/css/new-mind.css' %}">
{% endblock %}

{# 设置body #}
{% block body %}
    <div id="bodyContainer" class="container">
        <div id="midContainer" class="col-lg-8 offset-lg-2">
            <div class="container-box">
                <form id="newMindForm">
                    {% csrf_token %}
                    <div class="container-box-item container-box-item-bottom">
                        <p class="one-line-tip-p">发布主题</p>
                    </div>

                    <div class="container-box-item container-box-item-bottom container-box-item-bk-color">
                        <p class="one-line-tip-p">
                            <span>标题</span>
                            <span class="error-tip" id="titleTip"></span>
                        </p>
                    </div>
                    <div class="container-box-item container-box-item-bottom container-box-item-input">
                        <input placeholder="输入标题" name="title"/>
                    </div>

                    <div class="container-box-item container-box-item-bottom container-box-item-bk-color">
                        <p class="one-line-tip-p">
                            <span>描述</span>
                            <span class="error-tip" id="descriptionTip"></span>
                        </p>
                    </div>
                    <div class="container-box-item container-box-item-bottom container-box-item-input">
                        <textarea class="no-padding-margin" rows="10" placeholder="输入描述" name="description"></textarea>
                    </div>

                    <div class="container-box-item container-box-item-bottom container-box-item-bk-color">
                        <p class="one-line-tip-p">
                            <span>图片 (此外, 还可以</span>
                            <a data-toggle="collapse" href="#collapseShare" aria-expanded="false" aria-controls="collapseShare">填写分享地址</a>
                            <span> 或 </span>
                            <a data-toggle="collapse" href="#collapseUploadMindFile" aria-expanded="false" aria-controls="collapseUploadMindFile"> 上传思维导图文件</a>
                            <span>)</span>
                            <span class="error-tip" id="imgTip"></span>
                        </p>
                    </div>
                    <div class="container-box-item container-box-item-bottom container-box-item-input">
                        <label class="no-padding-margin">
                          <input type="file" name="img" placeholder="选择图片">
                        </label>
                    </div>

                    <div class="collapse"  id="collapseShare">
                        <div class="container-box-item container-box-item-bottom container-box-item-bk-color">
                            <p class="one-line-tip-p">
                                <span>脑图分享地址(可选)</span>
                                <span class="error-tip" id="shareTip"></span>
                            </p>
                        </div>
                        <div class="container-box-item container-box-item-bottom container-box-item-input">
                            <input placeholder="输入脑图分享地址(如: 百度脑图分享链接)" name="share"/>
                        </div>
                    </div>

                    <div class="collapse"  id="collapseUploadMindFile">
                        <div class="container-box-item container-box-item-bottom container-box-item-bk-color">
                            <p class="one-line-tip-p">
                                <span>思维导图文件(可选)</span>
                                <span class="error-tip" id="mindmapTip"></span>
                            </p>
                        </div>
                        <div class="container-box-item container-box-item-bottom">
                            <label class="no-padding-margin container-box-item-input">
                              <input type="file" name="mindmap" placeholder="选择文件">
                            </label>
                        </div>
                    </div>


                    <div class="container-box-item container-box-item-bottom container-box-item-bk-color">
                        <p class="one-line-tip-p">
                            <span>选择分类 (此外, 还可以 </span>
                            <a data-toggle="collapse" href="#collapseInputTags" aria-expanded="false" aria-controls="collapseInputTags">添加标签</a>
                            <span>)</span>
                            <span class="error-tip" id="categoryTip"></span>
                        </p>
                    </div>
                    <div class="container-box-item container-box-item-bottom">
                        <label class="no-padding-margin">
                            <select id="categoryFirst" name="categoryFirst" style="height: 1.5rem; font-size: 0.8rem;">
                                {% for category in category_first %}
                                    <option value="{{ category.id }}">{{ category.title }}</option>
                                {% endfor %}
                            </select>
                        </label>
                        <label class="no-padding-margin">
                            <select id="categorySecond" name="category" style="height: 1.5rem; font-size: 0.8rem;">
                            </select>
                        </label>
                    </div>

                    <div class="collapse" id="collapseInputTags">
                        <div class="container-box-item container-box-item-bottom container-box-item-bk-color">
                            <p class="one-line-tip-p">标签 (可选, 多个标签逗号分割)</p>
                        </div>
                        <div class="container-box-item container-box-item-bottom container-box-item-input">
                            <input placeholder="输入标签" name="tags"/>
                        </div>
                    </div>

                    <div class="container-box-item">
                        <a id="submitBtn" href="javascript: void(0);" class="my-button my-button-confirm">发布</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}   {# 加载父block内容 #}
    <script src="{% static 'mindmap/js/new-mind.js' %}"></script>
{% endblock %}

