{% extends "mindmap/includes/base.html" %}
{% load staticfiles %}

{# 设置标题 #}
{% block title %}{{ title }}{% endblock %}

{# 自定义css #}
{% block css %}
    <link rel="stylesheet" href="{% static 'mindmap/css/mind-detail.css' %}">
{% endblock %}

{# 设置body #}
{% block body %}
    <div id="bodyContainer" class="container">
        <div id="midContainer" class="col-lg-8 offset-lg-2">
            <div class="container-box">
                <div id="mindTopContent" class="container-box-item container-box-item-bottom">
                    <h4 class="my-title">{{ mindmap.title }}</h4>
                    {% include 'mindmap/includes/_mind_info_panel.html' %}

                    {% if mindmap.tags.all|length > 0 %}
                        <div style="margin-top: .2rem;">
                            {% for tag in mindmap.tags.all %}
                                <a href="{% url 'mindmap:mind-tag-page' tag.id %}" class="a-tag-light mr-1">{{ tag.title }}</a>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div id="mindMidContent" class="container-box-item container-box-item-bottom">
                    <p class="no-padding-margin">{{ mindmap.description }}</p>
                </div>
                <div id="mindImgContent" class="container-box-item">
                    <img class="my-img" src="{{ mindmap.img.url }}" />
                </div>
                <div id="mindFooterContent" class="container-box-item container-box-item-bk-color">
                    <div class="info-panel">
                        <a id="voteA" href="javascript: voteAction('{{ mindmap.id }}')"
                            {% if voted %}
                                style="color: #009688;"
                            {% else %}
                                style="color: #BDBDBD;"
                            {% endif %}>
                            <i class="fa fa-thumbs-up info-panel-item" aria-hidden="true"></i>
                            <span id="voteNumber" class="info-panel-item">{{ mindmap.vote }}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}   {# 加载父block内容 #}
    <script src="{% static 'mindmap/js/mind-detail.js' %}"></script>
{% endblock %}
