{# 导航栏 #}
{% load staticfiles %}

<nav id="navbar">
    <div id="navbarContainer" class="container">
        <div id="brand">
            <img id="brandImg" src="{% static 'mindmap/img/favicon.png' %}"/>
            <a href="{% url 'mindmap:index' %}">MindShare</a>
        </div>
        <div id="linkList">
            <a class="my-nav-link" href="{% url 'mindmap:index' %}">首页</a>
            <a class="my-nav-link" href="{% url 'mindmap:new-mind-page' %}">发布</a>
        </div>
    </div>
</nav>
<div class="nav-shadow"></div>
