{# 左下角按钮组 #}
{% load staticfiles %}

<style>
    .right-bottom-btn-group {
        position: fixed;
        right: 1.2rem;
        bottom: 1.2rem;

        float: left;

        z-index: 1000;
        -webkit-transition: all .5s;
        -moz-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
    }

    .right-bottom-btn-group a {
        width: 2rem;
        height: 1.8rem;

        text-align: center;

        font-size: 0.7rem;
        background: #e7eaf1;
        border-radius: .3rem;
        cursor: pointer;
        margin-top: 0.4rem;

        padding: .3rem;

        float: left;
        clear: both;
    }
</style>

{# 右下角按钮组 #}
<div class="right-bottom-btn-group" id="right-bottom-btn-group">
    <a id="btn-go-top" title="返回顶部"><i class="fa fa-arrow-up fa-2x" aria-hidden="true" style="color: #a1afc8;"></i></a>
    <a href="javascript: feedbackBtnClick();" title="反馈"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true" style="color: #a1afc8;"></i></a>
    <a title="帮助"><i class="fa fa-info fa-2x" aria-hidden="true" style="color: #a1afc8;"></i></a>
</div>

{# 反馈 #}
{% include 'mindmap/includes/dialog/_feedback_dialog.html' %}

<script>
{#    // 监听滚动#}
{#    window.onscroll = function(){#}
{#        //获取距离页面顶部的距离#}
{#         var t = document.documentElement.scrollTop || document.body.scrollTop;#}
{#         //获取div元素#}
{#         var rightBottomBtnGroupElement = document.getElementById( "btn-go-top" );#}
{#         rightBottomBtnGroupElement.style.display = 'block';#}
{#         if( t >= 300 ) { //当距离顶部超过300px时#}
{#            rightBottomBtnGroupElement.style.bottom=20+'px';//使div距离底部30px，也就是向上出现#}
{#         } else { //如果距离顶部小于300px#}
{#            rightBottomBtnGroupElement.style.bottom=-50+'px';//使div向下隐藏#}
{#         }#}
{#    };#}
    var goTop = document.getElementById("btn-go-top");
    var timer=null;
    goTop.onclick = function(){ //点击图片时触发点击事件
            timer=setInterval(function(){ //设置一个计时器
            var ct = document.documentElement.scrollTop || document.body.scrollTop; //获取距离顶部的距离
            ct = ct * 0.95;
            if(ct < 5){
                 window.scrollTo(0,0);//移动到顶部
                 clearInterval(timer);//清除计时器
            }
            else{
                 window.scrollTo(0, ct); //向上移动
            }
        }, 10);//隔10ms执行一次前面的function，展现一种平滑滑动效果
    }
</script>