{% load staticfiles%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>

    {# 设置图标 #}
    <link href="{% static 'mindmap/img/favicon.png' %}" rel="bookmark" type="image/x-icon" />
    <link href="{% static 'mindmap/img/favicon.png' %}" rel="icon" type="image/x-icon" />
    <link href="{% static 'mindmap/img/favicon.png' %}" rel="shortcut icon" type="image/x-icon" />

    {# 引入公用静态css文件 #}
    <link rel="stylesheet" href="{% static 'mindmap/lib/css/bootstrap-4.0.0-alpha.6.css' %}">
    <link rel="stylesheet" href="{% static 'mindmap/lib/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'mindmap/css/common.css' %}">
    <link rel="stylesheet" href="{% static 'mindmap/css/login-register.css' %}">
    <link rel="stylesheet" href="{% static 'mindmap/css/user-menu-popover.css' %}">

    {# 设置页面自定义css #}
    {% block css %}{% endblock %}
</head>
<body>
    {# 导航栏 #}
    {% block navigation %}
        {% include "mindmap/includes/_navigation.html" %}
    {% endblock %}

    {# body #}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}

    {# 自定义js #}
    {% block js %}
    {# 加载requirejs #}
        <script src="{% static 'mindmap/lib/js/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'mindmap/lib/js/tether.min.js' %}"></script>
        <script src="{% static 'mindmap/lib/js/bootstrap-4.0.0-alpha.6.js' %}"></script>
        <script src="{% static 'mindmap/lib/js/jquery.cookie.js' %}"></script>
        <script src="{% static 'mindmap/js/common.js' %}"></script>
        <script src="{% static 'mindmap/js/login-register.js' %}"></script>
        <script src="{% static 'mindmap/js/user-menu-popover.js' %}"></script>
    {% endblock %}
</body>
</html>