{# 右上角用户信息弹出框 #}

<div id="userPopoverModal" class="popover-user" style="visibility: hidden;">
    <div class="text-center" style="height: 0;"><i class="fa fa-sort-asc up-arrow" aria-hidden="true"></i></div>
    <div class="menu">
        <a href="{% url 'mindmap:user-page' 1 %}">
            <i class="fa fa-user font-aws-a" aria-hidden="true"></i>
            <span style="padding: 0 5px;">个人中心</span>
        </a>
        <a href="{% url 'mindmap:user-profile' %}">
            <i class="fa fa-cog font-aws-a" aria-hidden="true"></i>
            <span style="padding: 0 5px;">设置</span>
        </a>
        <a href="{% url 'mindmap:logout' %}">
            <i class="fa fa-sign-out font-aws-a" aria-hidden="true"></i>
            <span style="padding: 0 5px;">退出</span>
        </a>
    </div>
</div>